.form-with-white {
  .sq-header__header {
    text-align: center;
    font-size: 32px;
  }

  .container-form {
    .sq-content-page__body {
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.08);
      padding: 20px;
      border-radius: 8px;
    }
    margin: 100px  auto 50px auto;
    @media (min-width: $screen-sm) {
      margin: 200px auto 50px auto;
    }

    height: auto;
  }
}

.bg {
  // background-image: url('~src-assets/background.jpg');
  background-size: cover;
  flex-grow: 1;
  overflow: hidden;
}

.crm {
  .bg {
    // background-image: url('~src-assets/crm-bg2.jpeg');
  }
}
.homeowner {
  .bg {
    // background-image: url('~src-assets/homeowner-bg.jpeg');
  }
}
.sq-content-page {
  &__logo {
    position: absolute;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;

    &-img {
      padding: 0px 15px;
      margin-bottom: 50px;
      margin-top: 80px;
      width: 170px;
    }
  }
}
.hp_404_container {
  text-align: center;

  h3,
  p {
    text-align: center;
  }

  .back_button {
    a:hover {
      color: $white !important;
    }
  }
}
